<h2>📰 News</h2>
<ul class="news-list">
  <li>
    <span class="news-date" style="font-weight: bold; color: #2a9d8f;">Dec 12 2025</span>
    <span class="news-text">Presented my work as a Poster at <strong>Stack@CS Research Showcase</strong> in VT.</span>
  </li>
  <li>
    <span class="news-date" style="font-weight: bold; color: #2a9d8f;">Aug 26 2025</span>
    <span class="news-text">I received the <strong>Bitshares Fellowship</strong> from VT CS to support my research on zero-knowledge proofs (ZKPs).</span>
  </li>
  <li>
    <span class="news-date" style="font-weight: bold; color: #2a9d8f;">May 12 2025</span>
    <span class="news-text">Presented our paper <a href="https://www.computer.org/csdl/proceedings-article/sp/2025/223600a627/26hiTQkK8bC"><strong>AccuRevoke</strong></a> at <strong>IEEE S&P 2025</strong> in San Francisco, CA.</span>
  </li>
  <li>
    <span class="news-date" style="font-weight: bold; color: #2a9d8f;">Mar 28 2025</span>
    <span class="news-text">Attended <a href="https://dmv-sec-workshop.github.io"> <strong>DMV Security Workshop'25</strong></a> at Virginia Tech Research Center – Arlington, VA .</span>
  </li>
  <li>
    <span class="news-date" style="font-weight: bold; color: #2a9d8f;">Mar 10 2025</span>
    <span class="news-text">Our paper <strong>AccuRevoke</strong> was accepted to <strong>IEEE Symposium on Security & Privacy 2025</strong>.</span>
  </li>
  <li>
    <span class="news-date" style="font-weight: bold; color: #2a9d8f;">Mar 20 2025</span>
    <span class="news-text">Passed Ph.D. Qualifier Exam in Systems, Networking, and Cybersecurity domain.</span>
  </li>
</ul>
